<div class="col-xs-6">
  <h2 class="txt-undeline">New Employee</h2>
  <% if @profile %>
      <p class="greet">Hi,before we start we need this information ;)</p>
  <% end%>
  <%= render 'form' %>
</div>
