/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope
 *= require devise_bootstrap_views
 */

// Imports
@import "*";
@import "bootstrap";
@import "devise_bootstrap_views";
@import "font-awesome-sprockets";
@import "font-awesome";

$purple1:#AB47BC;
$purple2:#6A1B9A;
$white: #f3f3f3;
// flexbox
.flex {
  display: flex;
  justify-items: center;
  align-items: center;
}

.flex-row{
    flex-direction: row;
    display: flex;
    justify-items: center;
    align-items: center;
}
.flex-column{
    flex-direction: column;
    display: flex;
    justify-items: center;
    align-items: center;
}
// Navbar
.navbar-default{
  height: 60px;
  border: none !important;
  background: $purple1 !important;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > i{
  color: $white !important;
  display: inline;
}
// Body container
.purple-body{
  background-size:cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, $purple1 0%,$purple2  100%) !important;
  height: 655px !important;
}
.white-body{
  background: $white !important;
  height: 655px;
}
//register panels
.dashed-panel {
  color: $white !important;
  background-color: transparent !important;
  margin-top: 40px !important;
  border: 2px dashed $white !important;
  border-radius: 20px !important;
}
//logo styles
.logo-cont{
  border: 2px dashed $white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: $white;
  margin: 0 auto;
}
.logo-image{
  font-size:45px;
  margin: 0 auto;
}
.logo-con-txt{
    margin-bottom: 30px;
}
.logo-txt{
  font-family: 'Caveat Brush';
  font-size: 40px;
  color: $white;
  font-weight: 500;
  margin: 0 auto;
}

// Buttons

.btn-yummi{
    background: $purple2;
    color: $white;
    margin:0 auto;
}
.btn-yummi:hover{
    background: $purple1;
    color: $white !important;
}
.btn-yummi-outline{
    border:2px solid $purple2 !important;
    background: none !important;
    color: $purple2 !important;
    font-family: 'Caveat Brush';
    font-size: 20px !important;
    font-weight: 600 !important;
    margin:0 auto;
}
.btn-yummi-outline:hover{
  color: $purple1 !important;
}
// texts
.title-purple{
  color: $purple2;
  font-weight: 600;
  display: inline;
  font-size: 12px;
}
.txt-undeline{
  border-bottom: 2px dashed $purple2;
}
//icon
.icon-crud{
  color: $purple2;
  font-size: 18px;
}
.red-icon{
  color: #E53935;
  font-size: 18px;
  font-weight: 800;
}
.red-icon:hover{
  color: #B71C1C;
  text-decoration: none;
}
