/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope
 *= require devise_bootstrap_views
 */
@import "bootstrap";
@import "devise_bootstrap_views";

$purple1:#AB47BC;
$purple2:#6A1B9A;
$white: #f3f3f3;
// flexbox
.flex {
  display: flex;
  justify-items: center;
  align-items: center;
}

.flex-row{
    flex-direction: row;
    display: flex;
    justify-items: center;
    align-items: center;
}
.flex-row{
    flex-direction: column;
    display: flex;
    justify-items: center;
    align-items: center;
}
// Navbar
.navbar-default{
  height: 60px;
  border: none !important;
  background: $purple1 !important;
}

.navbar-default .navbar-nav > li > a{
  color: $white !important;
}
// Body container
.purple-body{
  background-size:cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, $purple1 0%,$purple2  100%) !important;
  height: 655px !important;
}
.white-Body{
  background: $white !important;
  height: 655px;
}
//register panels
.yeah {
  color: white !important;
  background-color: transparent !important;
  margin-top: 60px !important;
  border: 2px dashed $white !important;
  border-radius: 20px !important;
}
