// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$purple1:#AB47BC;
$purple2:#6A1B9A;
$white: #f3f3f3;
$black: #2b2b2b;

h1,h2 {
  text-align: center !important;
  font-family: 'Graduate' !important;
  color: $purple2  !important;
}
h1{
  font-size: 26px !important;
}
.hipster-box{
  width:120px;
  border-top: 3px solid $purple2;
  border-bottom: 3px solid $purple2;
  margin: 0 auto;
  margin-bottom: 20px;
}
//Table
th{
  color: $purple2;
}
th,td {
  text-align: center !important;
}
// card
.card {
  margin-top: 20px !important;
  width: 28rem !important;
  margin-bottom: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
  margin: 0 !important;
}
.cont-btn-yummi{
  display: flex;
  justify-content: center;
  height: 45px
}
.cont-create-btn{
  margin-bottom:30px;
}
// panel
.panel-default{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
  margin: 0 auto !important;
}
.cont_order_btn-f{
  margin-top: 20px;
}
label {
  color: $purple2;
}
select{
  background: white;
  height: 30px;
  width: 100%;
}
.cont-back-form{
  margin-top: 25px;
}
